body {
    margin: 0;
}

.footer {
    background-color: #6d2c57;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.footer-widgets {
    display: flex;
    justify-content: space-around;
}

.footer-widgets h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ffbd59;
}

.footer ul {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

.footer ul>li {
    margin: 5px 0;
}

.footer ul>li>a>i {
    margin-right: 10px;
    background: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
    color: #6d2c57;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: underline;
    color: #ffbd59;
}

.copyright {
    text-align: center;
    color: #ffbd59;
    margin: 1em 0;
    display: inline-block;
    width: 100%;
}

.footer ul>li>a>i:hover {
    transition: 0.5s;
    transform: scale(1.4);
    background-color: #ffbd59;
    /* background-color: #FF6600; */
}

.newsletter input {
    line-height: 36px;
    padding: 0 1em;
    height: 36px;
    font-weight: bold;
    outline: none;
    float: left;
    border: none;
}

.newsletter button {
    background-color: #ffbd59;
    border: none;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    padding: 0 1em;
    float: left;
}

.newsletter button:hover {
    background-color: #ffbd59;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .footer-widgets {
        flex-direction: column;
        align-items: center;
    }
}